# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
    - name: Build UI
      working-directory: client
      env:
        VITE_VERSION: v1.0.53
      run: | 
        pwd
        ls
        npm ci
        VITE_UPDATED_DATE=$(date +%d-%b-%Y) npm run build --if-present
    
    - name: Copy Files From Build to Server
      env:
            SRC_FOLDER_PATH: 'server'
            TARGET_BRANCH: 'production'
      run: |
        pwd
        ls
        cp -r client/dist/* server/public/
        files=$(find $SRC_FOLDER_PATH -type f) # get the file list
        git config --global user.name 'GitHub Action'
        git config --global user.email 'action@github.com'
        git fetch                         # fetch branches
        git checkout --orphan $TARGET_BRANCH       # checkout to your branch
        git rm -rf --cached . # remove cache
        git checkout ${GITHUB_REF##*/} -- $files # copy files from the source branch
        git add -A
        git diff-index --quiet HEAD ||  git commit -am "deploy files"  # commit to the repository (ignore if no modification)
        git push origin $TARGET_BRANCH # push to remote branch
